<div class="container mt-4">
    <div class="card principal" >
    <div class="row">
        <div class="col-4">
            <a [routerLink]="['/principal/libros']">
                <mat-card class="example-card bg-info p-3" style="width:250px;">
                    <div class="col">
                        <div class=" text-center icono-card">
                            <img width="100" src="../../../assets/img/flat/libros.png" alt="libros">
                        </div>
                        <div class="content-card pt-3">
                            <mat-card-title class="text-white text-center">Libros</mat-card-title>
                            <mat-card-subtitle class="text-white text-center">Gestiona la informacion de libros</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

        <div class="col-4">
            <a [routerLink]="['/principal/autores']">
                <mat-card class="example-card bg-info p-3" style="width:250px;">
                    <div class="col">
                        <div class=" text-center icono-card">
                            <img width="100" src="../../../assets/img/flat/autor.png" alt="libros">
                        </div>
                        <div class="content-card pt-3">
                            <mat-card-title class="text-white text-center">Autores</mat-card-title>
                            <mat-card-subtitle class="text-white text-center">Gestiona la informacion de autores de libros</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

        <div class="col-4">
            <a [routerLink]="['/principal/clientes']">
                <mat-card class="example-card bg-info p-3" style="width:250px;">
                    <div class="col">
                        <div class=" text-center icono-card">
                            <img width="100" src="../../../assets/img/flat/servicio-al-cliente.png" alt="libros">
                        </div>
                        <div class="content-card pt-3">
                            <mat-card-title class="text-white text-center">Clientes</mat-card-title>
                            <mat-card-subtitle class="text-white text-center">Gestiona la informacion de clientes</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <a [routerLink]="['/principal/prestamos']">
                <mat-card class="example-card bg-info p-3" style="width:250px;">
                    <div class="col">
                        <div class=" text-center icono-card">
                            <img width="100" src="../../../assets/img/flat/libro.png" alt="libros">
                        </div>
                        <div class="content-card pt-3">
                            <mat-card-title class="text-white text-center">Prestamos</mat-card-title>
                            <mat-card-subtitle class="text-white text-center">Gestiona la información de  prestamos y devoluciones</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

        <div class="col-4">
            <a [routerLink]="['/principal/reportes']">
                <mat-card class="example-card bg-info p-3" style="width:250px;">
                    <div class="col">
                        <div class=" text-center icono-card">
                            <img width="100" src="../../../assets/img/flat/reporte.png" alt="libros">
                        </div>
                        <div class="content-card pt-3">
                            <mat-card-title class="text-white text-center">Reportes</mat-card-title>
                            <mat-card-subtitle class="text-white text-center">Muestra los reportes de clientes, libros y prestamos</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>

        <div class="col-4">
            <a [routerLink]="['/']">
                <mat-card class="example-card bg-danger p-3" style="width:250px;">
                    <div class="col">
                        <div class=" text-center icono-card">
                            <img width="100" src="../../../assets/img/flat/cerrar-sesion.png" alt="libros">
                        </div>
                        <div class="content-card pt-3">
                            <mat-card-title class="text-white text-center">Salir</mat-card-title>
                            <mat-card-subtitle class="text-white text-center">Abandona el sistema</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
    </div>
       
    </div>
</div>


