<div class="container mt-5 p-3">
    <div class="d-flex justify-content-start my-2">
        <button mat-raised-button color="warn" [routerLink]="['/principal/reportes']">
            <mat-icon>backspace</mat-icon>
            <span class="ms-1">ATRAS</span>
        </button>
    </div>

    <div class="d-flex justify-content-end">
        <button class="mx-1" mat-fab color="secondary" matTooltip="Descargar" (click)="download()">
            <mat-icon>download</mat-icon>
          </button>
          <button mat-fab color="secondary"  matTooltip="Imprimir"(click)="print()">
            <mat-icon>print</mat-icon>
          </button>
    </div>
<div id="formulario">
    <div class="header" id="htmlData">
        <span class="h2">Reporte de Clientes con Libros Vencidos</span>
    </div>
    <div class="mt-4">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
         <!-- Position Column -->
         <ng-container matColumnDef="#">
           <th mat-header-cell *matHeaderCellDef> No. </th>
           <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
         </ng-container>
       
         <!-- Name Column -->
         <ng-container matColumnDef="cliente">
           <th mat-header-cell *matHeaderCellDef> Cliente </th>
           <td mat-cell *matCellDef="let element"> {{element.cliente}} </td>
         </ng-container>
       
         <!-- Weight Column -->
         <ng-container matColumnDef="libro">
           <th mat-header-cell *matHeaderCellDef> Libro </th>
           <td mat-cell *matCellDef="let element"> {{element.libro}} </td>
         </ng-container>
       
         <!-- Symbol Column -->
         <ng-container matColumnDef="fecha_prestamo">
           <th mat-header-cell *matHeaderCellDef> Fecha de Prestamo </th>
           <td mat-cell *matCellDef="let element"> {{element.fecha_prestamo}} </td>
         </ng-container>

         <ng-container matColumnDef="dias_prestamo">
          <th mat-header-cell *matHeaderCellDef> Días Prestamo </th>
          <td mat-cell *matCellDef="let element"> {{element.dias_prestamo}} </td>
        </ng-container>
 
         <ng-container matColumnDef="vencimiento">
             <th mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </th>
             <td mat-cell *matCellDef="let element"> {{element.vencimiento}} </td>
           </ng-container>
 
           <ng-container matColumnDef="demora">
           <th mat-header-cell *matHeaderCellDef> Demora (Días) </th>
           <td mat-cell *matCellDef="let element"> {{element.demora}} </td>
         </ng-container>
       
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
       
    </div>
</div>
</div>